body,html{
                margin: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ffffff
            }

            .main_Container{
                width: 400px;
                height: 90vh;
                display: flex;
                flex-direction: column;
            }

            .floors_container{
            flex-grow: 1;
            border: 5px solid #333;
            background: white;
            position: relative;
            display: flex;
            flex-direction: column;
            }

            .floor_container{ 
                flex:1;
                border-bottom: 1px solid #eee;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 20px;
                box-sizing: border-box;
            }

            .floor_view{
            font-size: 20px;
            color: white; 
            

            }

            button.active-call {
            background-color: #f1c40f !important;
            box-shadow: 0 0 10px #f1c40f;
            border-color: #fff;
            color: #000;
}

            .lift {
            width: 50px;
            /* Înălțimea liftului e calculată automat: 100% divizat la 7 etaje */
            height: calc(100% / 7); 
            position: absolute;
            transition: bottom 1s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            border-radius: 4px;
        }

        .floor_view{
            display:flex;
            align-items:center;
            justify-content: center;
            font-weight: bold;
        }

    .right_door,.left_door{
        background-color: grey;
        top:0;
        width: 25px;
        height: 100%;
        position: absolute;
        transition: transform 0.7s ease-in-out;
        border: 1px solid #34495e;
        z-index: 2;
        
        }

        .left_door {
    left: 0;
}

    .right_door {
    right: 0;
}

        

        #lift_A {
            background-color: #e74c3c;
            left: 10px;
            bottom: 0%; /* Începe la parter */
        }

        #lift_B {
            background-color: #3498db;
            left: 70px;
            bottom: calc(100% - (100% / 7)); /* Începe la ultimul etaj */
        }

        .direction_arrows{
            display: flex;
            flex-direction: column;
            font-size: 10px;
            margin-bottom: 2px; 
            z-index: 3;
        }

        .arrow {
    color: #444; 
    transition: color 0.3s;
}

.arrow.active_up {
    color: #2ecc71; 
    text-shadow: 0 0 5px #2ecc71;
}

.arrow.active_down {
    color: #e67e22; 
    text-shadow: 0 0 5px #e67e22;
}

        .pannel {
    background: #222;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    width: 150px;
    text-align: center;
}

.view_pannel {
    font-size: 24px;
    color: #ff0000; 
    background: #000;
    margin: 10px 0;
    border: 2px solid #444;
}

.state {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.grid_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.int-btn.active-internal {
    background-color: #e74c3c !important; /* Roșu aprins */
    box-shadow: 0 0 10px #e74c3c;
    color: white !important;
    border: 1px solid #fff;
}